.header{
    background-color: #000033;
}
.header a{
    color: #29e4f2;
}
.header a:hover{
    color: #2ea3f2;
}
.hero{
    background-image: url("/assets/img/ULLER_cliente_feliz.jpg");
    background-size: cover; 
    background-position: bottom right;
    background-repeat: no-repeat; 
    height: 100vh; 
    width: 100%; 
}
.hero div p {
    line-height: 1;
}
.hero div p {
    font-size: 2.5em;
}
.colorp1{
    color: #0C71C3;
}